%p= "Hello #{@member.name},"

%p You have been invited to join the Award Tracking Information System site.  

%p 
  If you have a 
  = link_to 'GINA::ID', 'http://id.gina.alaska.edu'
  account you can immediately access the application by going to 

%div{style:"padding: 1em 2em;"}
  = link_to 'http://atis.gina.alaska.edu/signin', 'http://atis.gina.alaska.edu/signin'

%p Otherwise you will need to create a new account using the following steps

%ul
  %li 
    %strong If you have a UA Google account
    go to GINA::ID Login and click the "Google Account" button at the bottom of the page. 

    %div{style:"padding: 1em 2em;"}
      = link_to 'http://id.gina.alaska.edu/login', 'http://id.gina.alaska.edu/login'

    %p
      %strong Note: 
      This will associate your Google account with our single sign-on system, if you are signed into more than one Google account you will be asked to choose which account to use, make sure to select the one that belongs to the email address you receive the invitation from.
    
    %p
      %strong Note: 
      The first time you use your Google account it will ask for your permission to allow GINA to access your name and email address, please click the "Allow" button to complete the registration process. GINA::ID will request the minimal amount of information needed for this purpose and your information will be kept private and will not be shared with any other parties.

  %li 
    %strong If you do not have a UA Google account
    please go to GINA::ID Signup and create a new GINA::ID account by filling in the form.  You can create your own username and password within the GINA:ID system or use another identity provider like a personal Google Account.

    %div{style:"padding: 1em 2em;"}
      = link_to 'http://id.gina.alaska.edu/signup','http://id.gina.alaska.edu/signup'

    Once the above steps have been completed you should receive an email asking to verify your email address.  Click the link at the bottom of the email to complete the verification processing and to activate your account
    %br/
    
    %p 
      %strong Note: 
      It may take a few minutes for the email to show up

  %li 
    If successful you can now access the ATIS application.
    
    %div{style:"padding: 1em 2em;"}
      = link_to 'http://atis.gina.alaska.edu', 'http://atis.gina.alaska.edu'
    
%p
  If you sign out or try to access the application from a new computer you will be asked to sign in again to the GINA::ID site, if you have a UA Google account simply click the "Google Account" button at the bottom of the sign in page, or type in your username/email and password to login.
  
%p Please contact support at support@gina.alaska.edu if you have any problems signing into the application or creating a new account.

  
%p
  Thanks,
%div{style:"padding: 1em 2em;"}
  Geographic Information Network of Alaska
  
  