<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :acronym %><br />
    <%= f.text_field :acronym %>
  </div>
  <div class="field">
    <%= f.label :fiscal_coordinator_id %><br />
    <%= f.number_field :fiscal_coordinator_id %>
  </div>
  <div class="field">
    <%= f.label :director_id %><br />
    <%= f.number_field :director_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
