.row
  .span9
    %h3
      Award group: 
      = @group.name
    %dl.dl-horizontal
      - unless @group.parent.nil?
        %dt Parent group:
        %dd= @group.parent.try(:name_path)
      
      - unless @group.acronym.blank?
        %dt Award Token:
        %dd= @group.acronym

      - if @group.members.any?
        %dt PIs
        %dd= @group.members.pluck(:name).join(', ')
      
      - if @group.strategic_objectives.any?
        %dt Strategic Objectives:
        %dd= @group.strategic_objectives.pluck(:name).join(', ')
  
  .span3
    = link_to groups_path, class: 'btn btn-block' do
      %i.icon-arrow-left
      Back
    = link_to edit_group_path(@group), class: 'btn btn-block' do
      %i.icon-edit
      Edit
