.row
  .span9
    %h3
      Award group: 
      = @group.name
    %dl.dl-horizontal
      %dt Parent group:
      %dd= @group.parent.try(:name_path)
      
      %dt Award Token:
      %dd= @group.acronym
      
      %dt Strategic Objectives:
      %dd= @group.strategic_objectives.pluck(:name).join(', ')
  
  .span3
    = link_to groups_path, class: 'btn btn-block' do
      %i.icon-arrow-left
      Back
    = link_to edit_group_path(@group), class: 'btn btn-block' do
      %i.icon-edit
      Edit
