%tr
  %td
    = link_to award.slug, award
    %p= award.title
    %small
      %b PI:
      = award.sows.first.pi
  %td= award.sows.first.starts_at.try(:strftime, '%F')
  %td= award.sows.first.ends_at.try(:strftime, '%F')
  %td= number_to_currency(award.budget || 0)
  / %td= award.status.humanize