= form_for(@award) do |f|
  - if @award.errors.any?
    #error_explanation
      %h2
        = pluralize(@award.errors.count, "error")
        prohibited this award from being saved:
      %ul
        - @award.errors.full_messages.each do |msg|
          %li= msg
  
  .clearfix
  .row-fluid.form-horizontal
    .span12
      .control-group
        = f.label :title, class: 'control-label'
        .controls
          = f.text_field :title, class: 'span12'    
      .control-group
        = f.label :slug, 'Award ID', class: 'control-label'
        .controls
          = f.text_field :slug, readonly: true
      .control-group
        = f.label :account, class: 'control-label'
        .controls
          = f.text_field :account, placeholder: 'FUND-ORG'
      .control-group
        = f.label :budget, class: 'control-label'
        .controls
          .input-prepend
            .add-on $
            = f.text_field :budget
            
  .form-actions
    = link_to @award, class: 'btn' do
      %i.icon-arrow-left
      Back
    = f.submit class: 'btn btn-primary pull-right'
