= form_for(@award) do |f|
  - if @award.errors.any?
    #error_explanation
      %h2
        = pluralize(@award.errors.count, "error")
        prohibited this award from being saved:
      %ul
        - @award.errors.full_messages.each do |msg|
          %li= msg
          
  = f.label :slug
  = f.text_field :slug, class: 'span12'
  = f.label :title
  = f.text_field :title, class: 'span12'
  .row-fluid
    .span6
      = f.label :group_id
      / Group.top, :all_children, :name, :id, :name_path, { selected: sow.group.try(:id) }
      = f.grouped_collection_select :group_id, Group.top, :all_children, :name, :id, :name_path, { :prompt => true }, { class: 'span12' }
    .span6
      = f.label :pi_id
      = f.collection_select :pi_id, User.all, :id, :name_email, { :prompt => true }, { class: 'span12' }
  .row-fluid
    .span6
      = f.label :mau_id
      = f.text_field :mau_id, class: 'span12'    
    .span6
      = f.label :institute
      = f.text_field :institute, class: 'span12'    
  
  = f.label :description
  = f.text_area :description, class: 'span12'
    
  .form-actions
    = f.submit class: 'btn btn-primary pull-right'
