.row-fluid
  .span9
    .tab-content
      #group-all.tab-pane.fade.in.active
        %h4 All awards
        %table.table.table-bordered.tabled-striped.table-condensed
          %thead
            %tr
              %th.span7 Award
              %th.span2 Starts
              %th.span2 Ends
              %th.span1 Budget
          %tbody
            - @awards.each do |award|
              = render 'award_list_item', award: award
  
      - @groups.each do |g|
        - next if g.awards.size == 0
        .tab-pane.fade{id: dom_id(g)}
          %h4= g
          %table.table.table-bordered.tabled-striped.table-condensed
            %thead
              %tr
                %th.span7 Award
                %th.span2 Starts
                %th.span2 Ends
                %th.span1 Budget
            %tbody
              - g.awards.each do |award|
                = render 'award_list_item', award: award
  .span3
    %ul.nav.nav-tabs.nav-stacked
      %li.active
        = link_to '#group-all', data: { toggle: 'tab' } do
          .badge= @awards.count
          &nbsp;
          All
      - @groups.each do |g|
        - next if g.awards.size == 0
        %li
          = link_to "##{dom_id(g)}", data: { toggle: 'tab' } do
            .badge= g.awards.size
            &nbsp;
            = g
      
    %br/
    = link_to 'New Award', new_award_path, class: 'btn btn-success btn-block btn-large'
    = link_to 'Export Awards', awards_path(format: :xlsx), class: 'btn btn-block btn-large'