.navbar
  .navbar-inner
    .brand Awards list
    .pull-right= link_to 'New Award', new_award_path, class: 'btn btn-success'

%table.table.table-bordered.tabled-striped.table-condensed
  %thead
    %tr
      %th ID
      %th Title
      %th Group
      %th Pi
      %th
  %tbody
  - @awards.each do |award|
    %tr
      %td= award.slug
      %td= award.title
      %td= award.group.try(:name_path)
      %td= award.pi.try(:name)
      %td
        %nobr
          = link_to 'Show', award, class: 'btn'
          = link_to 'Edit', edit_award_path(award), class: 'btn'
          = link_to 'Destroy', award, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'
