.row-fluid
  .span9
    %h4= @award.title
      
    %dl.dl-horizontal
      %dt Award ID:
      %dd= @award.slug
      - unless @award.account.empty?
        %dt Account:
        %dd= @award.account || '&nbsp;'.html_safe
      %dt Budget:
      %dd= number_to_currency(@award.budget || 0)
      
    %h5 Statements of Work
    - @award.sows.each do |sow|
      .sow
        .content
          = render sow, collapse: false      
      
  .span3
    = link_to awards_path, class: 'btn btn-block' do
      %i.icon-arrow-left
      Back to award list
    = link_to edit_award_path(@award), class: 'btn btn-primary btn-block' do
      %i.icon-edit.icon-white
      Edit
    = link_to @award, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' do
      %i.icon-trash.icon-white
      Delete
    