.row
  .span9
    #sowtabs-content.tab-content
      #active.tab-pane.active
        %h2 All statements of work
        - if sow_counts_for(current_member, :active) > 0
          = render 'sows/list', sows: Sow.owner(current_member).all
        - else
          .hero-unit
            %h3 No active statements of work found
            %p Start a new statement of work by clicking the 'New statement of work' link to the right or use the button below
            = link_to 'Start a new statement of work', new_sow_path, class: 'btn btn-primary btn-large'
      #unsubmitted.tab-pane
        %h2 Un-submitted statements of work
        - if sow_counts_for(current_member, :unsubmitted) > 0
          = render 'sows/list', sows: Sow.owner(current_member).unsubmitted.all
        - else
          .hero-unit
            %h3 No un-submitted statements of work found
            %p Start a new statement of work by clicking the 'New statement of work' link to the right or use the button below
            = link_to 'Start a new statement of work', new_sow_path, class: 'btn btn-primary btn-large'
      #submitted.tab-pane
        %h2 Statements of work pending review 
        - if sow_counts_for(current_member, :reviewing) > 0
          = render 'sows/list', sows: Sow.owner(current_member).reviewing.all
        - else
          .hero-unit
            %h3 No statements of work pending review found
            %p If you have created a statement of work click the 'Un-submitted' link to the right and then click the 'Submit for review' button.
            %p or
            = link_to 'Start a new statement of work', new_sow_path, class: 'btn btn-primary btn-large'
            
      #awarded.tab-pane
        %h2 Awarded statements of work
        - if sow_counts_for(current_member, :awarded) > 0
          = render 'sows/list', sows: Sow.owner(current_member).awarded.all
        - else
          .hero-unit
            %h3 No awarded statements of work found
            = link_to 'Start a new statement of work', new_sow_path, class: 'btn btn-primary btn-large'
            
      #rejected.tab-pane
        %h2 Rejected statements of work
        - if sow_counts_for(current_member, :rejected) > 0
          = render 'sows/list', sows: Sow.owner(current_member).rejected.all
        - else
          .hero-unit
            %h3 No rejected statements of work
            = link_to 'Start a new statement of work', new_sow_path, class: 'btn btn-primary btn-large'
            
  .span3
    %ul#sowtabs.nav.nav-tabs.nav-stacked
      %li.active
        = link_to '#active', "data-toggle" => "tab" do
          All
          = sow_count_badge(sow_counts_for(current_member, :active))
      %li
        = link_to '#unsubmitted', "data-toggle" => "tab" do
          Un-submitted
          = sow_count_badge(sow_counts_for(current_member, :unsubmitted))
      %li
        = link_to '#submitted', "data-toggle" => "tab" do
          Pending review
          = sow_count_badge(sow_counts_for(current_member, :reviewing))
      %li
        = link_to '#awarded', "data-toggle" => "tab" do
          Accepted
          = sow_count_badge(sow_counts_for(current_member, :awarded))
      %li
        = link_to '#rejected', "data-toggle" => "tab" do
          Rejected
          = sow_count_badge(sow_counts_for(current_member, :rejected))
  
  
    = link_to new_sow_path, class: 'btn btn-success btn-block btn-large' do
      New Statement of Work

    / = render 'layouts/activity_stream'
            