= form_for sow, html: { class: 'sow_form' } do |f|
  - if sow.errors.any?
    #error_explanation.alert.alert-error
      %h4
        = pluralize(sow.errors.count, "error")
        prohibited this statement of work from being saved:
      %ul
        - sow.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :continue, 0
  
  .row-fluid.form-inline
    - if !sow.new_record?
      .span6
        = label_tag :created_at, 'Created on'
        = (sow.created_at || Time.now).strftime('%F %r')
    - if sow.submitted? or sow.accepted? or sow.rejected?
      .span6
        = label_tag :submitted_on
        = sow.submitted_on.strftime('%F %r')
  .row-fluid.form-inline
    - if sow.accepted?
      .span6
        = label_tag :accepted_on
        = sow.accepted_on.strftime('%F %r')
    - if sow.rejected?
      .span6
        = label_tag :rejected_on
        = sow.rejected_on.strftime('%F %r')
        
  .row-fluid
    .span6
      = f.label :group_id, 'Award group'
      = f.select :group_id, award_group_options(sow), { prompt: "Select one" }
      
  %h4 Submitter information
  .row-fluid
    .span5
      .control-group
        = f.label :first_name
        = f.text_field :first_name, class: 'span12'
    .span5
      .control-group
        = f.label :last_name
        = f.text_field :last_name, class: 'span12'
    .span2
      .control-group
        = f.label :ua_number, 'UA #'
        = f.text_field :ua_number, class: 'span12'
  .row-fluid
    .span6
      .control-group
        = f.label :email
        = f.email_field :email, class: 'span12'
    .span6
      .control-group
        = f.label :telephone
        = f.telephone_field :telephone, class: 'span12'
  .row-fluid
    .span6
      = f.label :mau_id
      = f.text_field :mau_id, class: 'span12'    
    .span6
      = f.label :institute
      = f.text_field :institute, class: 'span12'    

  %h4 Research period of performance
  .control-group
    .row-fluid
      .span1.offset1
        = f.label :period
      .span2
        %label.radio
          = f.radio_button :period, '30'
          30 days
      .span2
        %label.radio
          = f.radio_button :period, '60'
          60 days
      .span2
        %label.radio
          = f.radio_button :period, '120'
          120 days
      .span4.form-inline
        %label.radio.span4
          = f.radio_button :period, 'other'
          Other
        &nbsp;
        = f.text_field :other_period, class: 'span6'
  .control-group
    .row-fluid.form-inline
      .span5.offset1
        = f.label :starts_at, 'Starts', class: 'control-label'
        = f.text_field :starts_at, value: @sow.starts_at.try(:strftime, '%F'), class: 'span6', data: { toggle: 'datepicker' }
      .span5
        = f.label :ends_at, 'Ends', class: 'control-label'
        = f.text_field :ends_at, value: @sow.ends_at.try(:strftime, '%F'), class: 'span6', data: { toggle: 'datepicker' }
        
  %h4 Other information
  .control-group
    %label.control-label Faculty Discipline
    .controls
      = f.select :disciplines, options_from_collection_for_select(Discipline.all, :id, :name, sow.discipline_ids), {}, { class: 'select2', style: 'width: 100%', multiple: true }
    
  .control-group
    %label.control-label Indicate Strategic Objectives
    .row-fluid
      .span4
        %label.checkbox
          = f.check_box :climate_glacier_dynamics
          Climate/Glacier Dynamics
      .span4
        %label.checkbox
          = f.check_box :ecosystem_variability
          Ecosystem Variability
      .span4
        %label.checkbox
          = f.check_box :resource_management
          Resource Management
    .row-fluid
      .span12
        %label.checkbox.span2
          = f.check_box :other_strategic_objectives
          Other
        = f.text_field :other_strategic_objectives_text, class: 'span6'
    
  %h4 Project information
  .row-fluid
    .span12
      .control-group
        = f.label :project_title
        = f.text_field :project_title, class: 'span12'    
    
  .row-fluid
    .span12
      .control-group
        = f.label :statement_of_work
        = f.text_area :statement_of_work, rows: 10, class: 'span12'
      
      .control-group
        = f.label :collaborators
        = f.text_area :collaborators, rows: 10, class: 'span12'

      .control-group
        = f.label :research_milestones_and_outcomes
        = f.text_area :research_milestones_and_outcomes, rows: 10, class: 'span12'

      .control-group
        = f.label :accomplished_objectives
        = f.text_area :accomplished_objectives, rows: 10, class: 'span12'

      .control-group
        = f.label :budget_justification
        = f.text_area :budget_justification, rows: 10, class: 'span12'
  .row-fluid
    .span12
      = link_to sows_path, class: 'btn' do
        %i.icon-arrow-left
        Cancel
      = f.submit 'Save', class: 'btn btn-primary pull-right'          