- if sow.mau
  %dt MAU
  %dd= sow.mau

%dt Institute
%dd= sow.institute || '&nbsp;'.html_safe

- if sow.award
  %dt Award ID
  %dd= sow.award.slug

%dt Award Group
%dd= sow.award_group || '&nbsp;'.html_safe

%dt Strategic Objectives
%dd= sow.strategic_objectives.list