.row
  .span8
    #sowtabs-content.tab-content
      #submitted.tab-pane.active
        %h2 Pending review statements of work
        - if sow_counts_for(nil, :reviewing) > 0
          = render 'sows/list', sows: Sow.reviewing.all
        - else
          %h4 There are no submitted statements of work
      #awarded.tab-pane
        %h2 Awarded statements of work
        - if sow_counts_for(nil, :awarded) > 0
          = render 'sows/list', sows: Sow.awarded.all
        - else
          %h4 There are no awarded statements of work
      #rejected.tab-pane
        %h2 Rejected statements of work
        - if sow_counts_for(nil, :rejected) > 0
          = render 'sows/list', sows: Sow.rejected.all
        - else
          %h4 There are no rejected statements of work
  .span4
    %ul#sowtabs.nav.nav-tabs.nav-stacked
      %li.active
        = link_to '#submitted', "data-toggle" => "tab" do
          Pending
          = sow_count_badge(sow_counts_for(nil, :reviewing))
      %li
        = link_to '#awarded', "data-toggle" => "tab" do
          Awarded
          = sow_count_badge(sow_counts_for(nil, :awarded))
      %li
        = link_to '#rejected', "data-toggle" => "tab" do
          Rejected
          = sow_count_badge(sow_counts_for(nil, :rejected))
            