- collapse ||= false
%h4.title
  = sow.project_title
  %br/
  %small= "Last updated: #{sow.updated_at.strftime('%F')}"
%p.description
  :markdown
    #{sow.statement_of_work.truncate(300)}

%div{id: "sow_body_#{sow.id}", class: collapse ? 'collapse' : ''}
  %dl
    .row-fluid
      .span8
        = render 'sows/submitter', sow: sow
        %br/
        = render 'sows/group_info', sow: sow
      .span4
        = render 'sows/status', sow: sow
        %br/
        = render 'sows/dates', sow: sow
        %br/
        = render 'sows/period', sow: sow
        
    = render 'sows/project_details', sow: sow