%h4 SOW Progress
%table.table.table-bordered
  %tbody    
    - counter = 0
    %tr{ class: (@sow.new_record? ? 'warning' : 'success') }
      %td{ style: 'text-align: center' }= "#{counter += 1}"
      %td Created Statement of Work
    %tr{ class: (@sow.submitted_on.nil? ? 'warning' : 'success' )}
      %td{ style: 'text-align: center' }= "#{counter += 1}"
      %td Submitted for review
    %tr{ class: (@sow.group_leader_approval ? 'success' : @sow.rejected_on.nil? ? 'warning' : 'error' )}
      %td{ style: 'text-align: center' }= "#{counter += 1}"
      %td= "#{@sow.award_group.try(:top).try(:name) || 'Award Group' } PI approval"
    %tr{ class: (@sow.pi_approval ? 'success' : @sow.rejected_on.nil? ? 'warning' : 'error' )}
      %td{ style: 'text-align: center' }= "#{counter += 1}"
      %td= "#{@sow.award_group.try(:name) || 'Project' } PI approval"
    %tr{ class: (@sow.pi_approval ? 'success' : @sow.rejected_on.nil? ? 'warning' : 'error' )}
      %td{ style: 'text-align: center' }= "#{counter += 1}"
      %td Budget Approval
    %tr{ class: (@sow.award.nil? ? 'warning' : 'success' )}
      %td{ style: 'text-align: center' }= "#{counter += 1}"
      %td Awarded