- collapse ||= false
%h4.title= sow.project_title
%p.description
  :markdown
    #{sow.statement_of_work.truncate(300)}

%div{id: "sow_body_#{sow.id}", class: collapse ? 'collapse' : ''}
  %dl
    %fieldset
      %legend Principle Investigator
      .dl-horizontal
        = render 'sows/submitter', sow: sow
        = render 'sows/group_info', sow: sow
    .row-fluid
      .span6
        %fieldset
          %legend Status
          .dl-horizontal
            = render 'sows/status', sow: sow
      .span6
        %fieldset
          %legend Dates
          .dl-horizontal
            = render 'sows/dates', sow: sow
            = render 'sows/period', sow: sow
    
    %fieldset
      %legend Project Information
      = render 'sows/project_details', sow: sow