%dt Status
%dd= sow.state.humanize
%dt PI Approval
- if sow.pi_approval
  %dd= "Yes (#{sow.pi_approval.name})"
- else
  %dd No
%dt 
  %abbr{title:'Group Leader'} GL 
  Approval
- if sow.group_leader_approval
  %dd= "Yes (#{sow.group_leader_approval.name})"
- else
  %dd No