%dt Submitter
%dd= "#{sow.first_name} #{sow.last_name} <#{sow.email}>"
.row-fluid
  .span6
    %dt UA #
    %dd= sow.ua_number
  - if sow.telephone.present?
    .span6
      %dt Telephone
      %dd= sow.telephone

- if sow.mau_id.present?      
  %dt MAU
  %dd= sow.mau_id

%dt Institute
%dd= sow.institute || '&nbsp;'.html_safe

%dt Award Group
%dd= sow.group || '&nbsp;'.html_safe
    