.row
  .span8
    %h4= @sow.project_title
    %dl
      .dl-horizontal
        %p.status
          %dt Award Group
          %dd= @sow.group.name_path
          %dt Status
          %dd= @sow.state.humanize
        
        %p.dates
          = render 'dates', sow: @sow
      
        %p.submitter
          = render 'submitter', sow: @sow
          
        %p.time_info
          = render 'period', sow: @sow
        
      %p.strategic_objectives
        = render 'strategic_objectives', sow: @sow
            
      %p.project_info
        %dt Project title
        %dd
          :markdown
            #{@sow.project_title}
      
        %dt Statement of work
        %dd
          :markdown
            #{@sow.statement_of_work}
          
        %dt Collaborators
        %dd
          :markdown
            #{@sow.collaborators}

        %dt Research milestones and outcomes
        %dd
          :markdown
            #{@sow.research_milestones_and_outcomes}
          
        %dt Accomplished objectives
        %dd
          :markdown
            #{@sow.accomplished_objectives}

        %dt Budget justification
        %dd
          :markdown
            #{@sow.budget_justification}
    
    #attachment_list     
      %h5 Attachments
      = render 'attachments/list', attachments: @sow.attachments
    
  .span4
    %h4 Actions
    = link_to root_url, class: 'btn btn-block' do
      %i.icon-arrow-left
      Back to dashboard
    - unless @sow.accepted? or @sow.user != current_user  
      - if @sow.created? or @sow.editing?
        = link_to edit_sow_path(@sow), class: 'btn btn-block' do
          %i.icon-edit
          Edit
      - else
        = link_to edit_sow_path(@sow), class: 'btn btn-block', confirm: 'Are you sure? Editing this statement of work will remove it from the review queue' do
          %i.icon-edit
          Edit

    - if @sow.can_submit? and @sow.user == current_user
      = link_to submit_sow_path(@sow), method: :post, class: 'btn btn-block btn-primary' do
        Submit for review

      = render 'attachments_form', sow: @sow
    - if current_user.has_role?(:reviewer) and @sow.can_review? and !@sow.reviewing?
      = link_to review_sow_path(@sow), method: :post, class: 'btn btn-block btn-primary' do
        Review
    - if current_user.has_role?(:reviewer) and @sow.can_accept?
      = link_to accept_sow_path(@sow), method: :post, class: 'btn btn-block btn-success' do
        %i.icon-ok
        Accept
    - if current_user.has_role?(:reviewer) and @sow.can_reject?
      = link_to reject_sow_path(@sow), method: :post, class: 'btn btn-block btn-danger' do
        %i.icon-remove
        Reject
      
    = render 'layouts/activity_stream', activities: @sow.activities.for(current_user)