#header.navbar.navbar-static-top.navbar-inverse
  .navbar-inner
    = link_to root_url, class: 'brand' do
      ATIS: Award Tracking Information System
    %ul.nav.pull-right
      - if user_signed_in? 
        %li{class: params[:controller] == 'awards' ? 'active' : '' }
          = link_to 'Awards', awards_path
        %li{class: active_dashboard_class(:submitter) }= link_to 'Statements of work', submit_dashboard_path
        - if current_user.has_role?(:reviewer)
          %li{class: active_dashboard_class(:review)  }= link_to 'Review', review_dashboard_path         
          / %li= link_to 'Admin Dashboard', admin_dashboard_path if current_user.has_role?(:admin)
          
        - if current_user.has_role?(:admin)
          %li.dropdown{class: active_admin_class()  }
            = link_to '#', class: "dropdown-toggle", "data-toggle" => "dropdown" do
              Admin
              %b.caret
            %ul.dropdown-menu
              %li{class: params[:controller] == 'groups' ? 'active' : ''}= link_to 'Award Groups', groups_path
              %li{class: params[:controller] == 'disciplines' ? 'active' : ''}= link_to 'Disciplines', disciplines_path
              %li{class: params[:controller] == 'maus' ? 'active' : ''}= link_to 'MAUS', maus_path
              %li{class: params[:controller] == 'members' ? 'active' : ''}= link_to 'Members', members_path
              %li{class: active_dashboard_class(:admin)  }= link_to 'Statements of Work', admin_dashboard_path
              / %li{class: params[:controller] == 'users' ? 'active' : ''}= link_to 'Users', users_path
          
        %li.divider-vertical
        %li.user_button.dropdown
          = link_to '#', class: 'dropdown-toggle', "data-toggle"=>"dropdown", style: "background-image: url(#{avatar_url(current_user, 40)});" do
            %span.name= current_user.name
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to signout_path do
                %i.icon-lock
                Sign out
      - else
        %li
          = link_to signin_path do
            %i.icon-lock
            Sign in